# Ignore virtual environment folder
.venv/

# Ignore Python cache files
__pycache__/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore any output files in data/ (like images or results)
data/*_output*
